
.container{
    width: 100%;
    height: 100vh;
}

.wrapper{
    width: 100%;
    margin: 20px;
    max-width: 1440px;
}

.main__photo{
    max-width: 600px;
    margin: 0 auto;

}
.pic{
    
    margin-bottom: 10px;
    max-width: 600px;
   
}
.btns{
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.yes{
    text-align: center;
    background-color: green;
    width: 200px;
    height: 50px;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .4s ease;
}
.no{
    text-align: center;
    width: 200px;
    background-color: red;
    height: 50px;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .4s ease;
}

.yes:hover{
    background-color: #002902
}

.no:hover{
    background-color: #530000
}

.votes__line{
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 20px;
justify-content: center;
}
